
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts>0,
                'list-group-item-danger': postLoveIts<0}">

  <span id="spn">{{ postCreatedAt | date:'short'}}</span>
  <h4>{{postTitle}}</h4>
  <p>{{postContent}}</p>


  <button  class="btn btn-success"
           (click)="love()">Love it</button>

  <button class="btn btn-danger"
          (click)="notLove()">Don't love it</button>


  <button id="btnSup" class="btn btn-primary"
          (click)="onSupprime()">Supprimer</button>


</li>
